.dashboard-container {
  font-family: "Segoe UI", sans-serif;
}

.top-nav {
  height: 55px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

}

.nav-left a {
  margin-right: 20px;
  font-size: 14px;
    text-decoration: none;
  cursor: pointer;
}

.nav-left .active {
  font-weight: bold;
}

.nav-right {
  display: flex;
  align-items: center;
}

.user-icon img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 8px;
}

.content {
  display: flex;
  height: calc(100vh - 55px);
}

/* Sidebar */
.sidebar {
  width: 250px;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.detalle-item {
  margin-bottom: 15px;
}

.btn-status {
  width: 100%;
  background: #1f8b82;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  margin-top: 20px;
}

/* Main */
.main-content {
  flex: 1;
  padding: 20px;
}



.report-list {
  margin-top: 20px;
    overflow: auto;
    max-height: auto;
}

.report-list h4 {
  margin-bottom: 10px;
}

.report-card {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-left {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  background: #49c5b6;
  border-radius: 50%;
  margin-right: 10px;
}