

  <div class="content">

    <!-- LEFT SIDEBAR -->
    <aside class="sidebar">
      <h3>Detalles del Reporte</h3>

      <div class="detalle-item">
        <strong>Tipo de Reporte: </strong>
        <span>{{ selectedReport?.reportType?.name || "Seleccione un reporte" }}</span>
      </div>

      <div class="detalle-item">
        <strong>Descripción: </strong>
        <span>{{ selectedReport?.description || "Seleccione un reporte" }}</span>
      </div>

      <div class="detalle-item">
        <strong>Status: </strong>
        <span>{{ selectedReport?.reportStatus?.name || "Seleccione un reporte" }}</span>
      </div>

      <div class="detalle-item">
        <strong>Dirección: </strong>
        <span>ahorita vemos aqui que pedo</span>
      </div>

      <div class="detalle-item">
        <strong>Imágenes:</strong>
      </div>

      <button class="btn-status">Cambiar Status</button>
    </aside>

    <!-- MAIN SECTION -->
    <main class="main-content">

      <!-- MAPA -->
      <section class="map-section">
       <app-mapa [reports]="reports"></app-mapa>
      </section>

      <!-- LISTA DE REPORTES -->
      <section class="report-list">
        <h4>Reportes activos</h4>
          @if (!reports) {
            <div class="report-card" style="text-align: center;">No hay reportes disponibles.</div>
          }
         @for (r of reports; track $index) {
        <div class="report-card"  (click)="selectReportDetails(r)"  [class.active]="selectedReport?.id === r.id">
          <div class="card-left">
            <div class="avatar"></div>
            <span class="report-title">Reporte #{{ r.id }}</span>
          </div>
          <div class="card-right">
            <strong>Tipo de reporte:</strong> {{ r.reportType.name }} <br />
            <strong>Descripción:</strong> {{ r.description }} <br />
          </div>
        </div>
      }
      </section>
    </main>
</div>
