

  <div class="content">

    <!-- LEFT SIDEBAR -->
    <aside class="sidebar">
      <h3>Detalles del Reporte</h3>

      <div class="detalle-item">
        <strong>Tipo de Reporte: </strong>
        <span>{{ selectedReport?.reportType?.name || "Seleccione un reporte" }}</span>
      </div>

      <div class="detalle-item">
        <strong>Descripción: </strong>
        <span>{{ selectedReport?.description || "Seleccione un reporte" }}</span>
      </div>

      <div class="detalle-item">
        <strong>Status: </strong>
        <span>{{ selectedReport?.reportStatus?.name || "Seleccione un reporte" }}</span>
      </div>

      <div class="detalle-item">
        <strong>Dirección: </strong>
        <span>ahorita vemos aqui que pedo</span>
      </div>

      <div class="detalle-item">
        <strong>Imágenes:</strong>
      </div>

     <button (click)="openStatusModal(selectedReport)">Cambiar Status</button>




    </aside>

    <!-- MAIN SECTION -->
    <main class="main-content">

      <!-- MAPA -->
      <section class="map-section">
       <app-mapa [reports]="reports"></app-mapa>
      </section>

      <!-- LISTA DE REPORTES -->
      <section class="report-list">
        <h4>Reportes activos</h4>
          @if (!reports) {
            <div class="report-card" style="text-align: center;">No hay reportes disponibles.</div>
          }
         @for (r of reports; track $index) {
        <div class="report-card"  (click)="selectReportDetails(r)"  [class.active]="selectedReport?.id === r.id">

          <div class="card-left">
            <div class="avatar"></div>
            <span class="report-title">Reporte #{{ r.id }}</span>
          </div>
          <div class="card-right">
            <strong>Tipo de reporte:</strong> {{ r.reportType.name }} <br />
            <strong>Descripción:</strong> {{ r.description }} <br />
          </div>
        </div>
      }
      </section>
    </main>
</div>

<!-- MODAL PARA CAMBIAR STATUS -->
<div class="modal-overlay" *ngIf="showStatusModal">
  <div class="modal-container">

    <div class="modal-header">
      <h3>REPORTE</h3>
      <button class="close-btn" (click)="closeStatusModal()">✕</button>
    </div>

    <div class="modal-body">

      <div class="row-flex">

        <div class="col">
          <label><strong>Tipo de reporte:</strong></label>
          <div class="readonly-box">
            {{ selectedReport?.reportType?.name }}
          </div>
        </div>
      
        <div class="col">
          <label><strong>Descripción:</strong></label>
          <div class="readonly-box">
            {{ selectedReport?.description }}
          </div>
        </div>
      
      </div>

      <label><strong>Dirección:</strong></label>
      <div class="readonly-box">{{ selectedReport?.address }}</div>

      <label>Imágenes:</label>
      <div class="image-row">
        @for (img of selectedReport?.images; track $index) {
          <img [src]="img" class="image-preview" />
        }
      </div>

      <label>Status:</label>
      <select [(ngModel)]="status" style="width: 40%" class="form-input">
        @for (s of statuss; track $index) {
          <option [value]="s.id">{{ s.name }}</option>
        }
      </select><br>


      <label>Motivo:</label>
      <textarea class="form-textarea" [(ngModel)]="motivo"></textarea>

    </div>

    <div class="modal-footer">
      <button class="btn-save" (click)="saveStatus()">Guardar</button>
      <button class="btn-cancel" (click)="closeStatusModal()">Cancelar</button>
    </div>

  </div>
</div>
